/card_detector.py
/carte.jpg
/CARTES
/filter.py
/gray_banana.py
/harold.png
/harold.py
/HD_CARTE.jpg
/lena.jpg
/project.tm
/rectangle.png
/rotate_minarearect.py
/set.jpeg
/tracking_hsv.py
/use_tensorflow_model.py